h1 {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  color: #494C4A;

  }
  .banner{
    	background: url("/IMG_5417.jpg") no-repeat;
    	min-height: 860px;
    	background-size: cover;
    	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	position: relative;
  }
